.wrapper{
	width: 100%;
}
.box{
	height: 600px;
	box-sizing: border-box;
	float:left;
	display: flex;
    margin: 1em;
	flex-direction:row;
	flex-wrap: wrap;
}

.inner{
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;

}

.text{
    text-align: center;
    font-size: 40px;
}

.text2{
    text-align: center;
    font-size: 15px;
    margin-top: 25%;
}

.a{
    background-color: deepskyblue; 
}

.b{
    background-color: deepskyblue;
   
}
.c{
    background-color: deepskyblue;  
}

@media screen and (min-width: 769px){
    .box{
		width: 30%;
        background-color: rgba(252, 144, 21, 0.973);
	}
	.inner{
		height: 45%;
	}
    .a{
        width: 45%;
        height: 45%;
    }
    .b{
        width: 90%;
        height: 45%; 
    }
    .c{
        height:45%;
        width: 45%;
        margin-left: 25%;
        margin-right: 25%;   
    }  



}

@media screen and (max-width: 768px){
    .box{
		width: 100%;
        background-color: gold;
	}
	.inner{
		height: 30%;
	}
    .a{
        width: 45%;
        height: 45%;

    }
    .b{
        width: 90%;
        height: 45%;  
    }
    .c{
        height:45%;
        width: 65%;
        margin-left: 15%;
        margin-right: 15%;
    }  
    

}